<?xml version="1.0"?>
<!--
  Per altre informazioni su come configurare l'applicazione ASP.NET, vedere
 https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime maxRequestLength="3000000"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Chat_WSSoap" maxReceivedMessageSize="1000000000" />
        <binding name="Classi_WSSoap" maxReceivedMessageSize="1000000000" />
        <binding name="Competenze_WSSoap" maxReceivedMessageSize="1000000000" />
        <binding name="Contabilita_WSSoap" maxReceivedMessageSize="1000000000" />
        <binding name="Corsi_WSSoap" maxReceivedMessageSize="1000000000" />
        <binding name="Domande_WSSoap" maxReceivedMessageSize="1000000000" />
        <binding name="Esterni_WSSoap" maxReceivedMessageSize="1000000000" />
        <binding name="GenMoney_WSSoap" maxReceivedMessageSize="1000000000" />
        <binding name="Materie_WSSoap" maxReceivedMessageSize="1000000000" />
        <binding name="Preiscrizione_WSSoap" maxReceivedMessageSize="1000000000" />
        <binding name="Programmi_WSSoap" maxReceivedMessageSize="1000000000" />
        <binding name="Progressi_WSSoap" maxReceivedMessageSize="1000000000" />
        <binding name="Risposte_WSSoap" maxReceivedMessageSize="1000000000" />
        <binding name="Test_WSSoap" maxReceivedMessageSize="1000000000" />
        <binding name="Utenti_WSSoap" maxReceivedMessageSize="1000000000" />
        <binding name="Crypta_WSSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:58260/Chat-WS.asmx" binding="basicHttpBinding"
        bindingConfiguration="Chat_WSSoap" contract="CHAT.Chat_WSSoap"
        name="Chat_WSSoap" />
      <endpoint address="http://localhost:58260/Classi-WS.asmx" binding="basicHttpBinding"
        bindingConfiguration="Classi_WSSoap" contract="CLASSI.Classi_WSSoap"
        name="Classi_WSSoap" />
      <endpoint address="http://localhost:58260/Competenze-WS.asmx"
        binding="basicHttpBinding" bindingConfiguration="Competenze_WSSoap"
        contract="COMPETENZE.Competenze_WSSoap" name="Competenze_WSSoap" />
      <endpoint address="http://localhost:58260/Contabilita-WS.asmx"
        binding="basicHttpBinding" bindingConfiguration="Contabilita_WSSoap"
        contract="CONTABILITA.Contabilita_WSSoap" name="Contabilita_WSSoap" />
      <endpoint address="http://localhost:58260/Corsi-WS.asmx" binding="basicHttpBinding"
        bindingConfiguration="Corsi_WSSoap" contract="CORSI.Corsi_WSSoap"
        name="Corsi_WSSoap" />
      <endpoint address="http://localhost:58260/Domande-WS.asmx" binding="basicHttpBinding"
        bindingConfiguration="Domande_WSSoap" contract="DOMANDE.Domande_WSSoap"
        name="Domande_WSSoap" />
      <endpoint address="http://localhost:58260/Esterni-WS.asmx" binding="basicHttpBinding"
        bindingConfiguration="Esterni_WSSoap" contract="ESTERNI.Esterni_WSSoap"
        name="Esterni_WSSoap" />
      <endpoint address="http://localhost:58260/GenMoney-WS.asmx" binding="basicHttpBinding"
        bindingConfiguration="GenMoney_WSSoap" contract="GENMONEY.GenMoney_WSSoap"
        name="GenMoney_WSSoap" />
      <endpoint address="http://localhost:58260/Materie-WS.asmx" binding="basicHttpBinding"
        bindingConfiguration="Materie_WSSoap" contract="MATERIE.Materie_WSSoap"
        name="Materie_WSSoap" />
      <endpoint address="http://localhost:58260/Preiscrizione-WS.asmx"
        binding="basicHttpBinding" bindingConfiguration="Preiscrizione_WSSoap"
        contract="PREISCRIZIONE.Preiscrizione_WSSoap" name="Preiscrizione_WSSoap" />
      <endpoint address="http://localhost:58260/Programmi-WS.asmx"
        binding="basicHttpBinding" bindingConfiguration="Programmi_WSSoap"
        contract="PROGRAMMI.Programmi_WSSoap" name="Programmi_WSSoap" />
      <endpoint address="http://localhost:58260/Progressi-WS.asmx"
        binding="basicHttpBinding" bindingConfiguration="Progressi_WSSoap"
        contract="PROGRESSI.Progressi_WSSoap" name="Progressi_WSSoap" />
      <endpoint address="http://localhost:58260/Risposte-WS.asmx" binding="basicHttpBinding"
        bindingConfiguration="Risposte_WSSoap" contract="RISPOSTE.Risposte_WSSoap"
        name="Risposte_WSSoap" />
      <endpoint address="http://localhost:58260/Test-WS.asmx" binding="basicHttpBinding"
        bindingConfiguration="Test_WSSoap" contract="TEST.Test_WSSoap"
        name="Test_WSSoap" />
      <endpoint address="http://localhost:58260/Utenti-WS.asmx" binding="basicHttpBinding"
        bindingConfiguration="Utenti_WSSoap" contract="UTENTI.Utenti_WSSoap"
        name="Utenti_WSSoap" />
      <endpoint address="http://localhost:58260/Crypta-WS.asmx" binding="basicHttpBinding"
        bindingConfiguration="Crypta_WSSoap" contract="CRYPTA.Crypta_WSSoap"
        name="Crypta_WSSoap" />
    </client>
  </system.serviceModel>
</configuration>